@use '../helpers//sassVariables//variables' as v;

.projects {
    min-height: 100vh;

    &__cardsWrapper {
        display: flex;
        flex-direction: row;
        flex-shrink: 1;
        justify-content: center;
        align-items: baseline;
        padding: 2em 10em 0em 10em;
        gap: 1.5em;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:v.$width) {
    .projects {
        &__cardsWrapper {
            padding: 2em 2em 0em 2em;
        }

    }
}